<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Employee Report</title>
  </head>
  <body>
    <h1>Employee Report</h1>
    <p>Name: <%= @employee.name %></p>
    <p>Email: <%= @employee.email %></p>
    <p>Position: <%= @employee.position %></p>
    <p>Department: <%= @employee.department %></p>
  </body>
</html>
